.lighten_1 { color: #0055ff; }

.lighten_2 { color: #99bbff; }

.lighten_3 { color: white; }

.lighten_4 { color: #003399; }

.lighten_red_1 { color: #ff6666; }

.darken_1 { color: #001133; }

.darken_2 { color: black; }

.darken_4 { color: #003399; }

.adjust_hue_1 { color: #001a99; }

.adjust_hue_2 { color: #990000; }

.adjust_hue_3 { color: #990000; }

.adjust_hue_4 { color: #003399; }

.adjust_hue_5 { color: #996600; }

.func_stack_a { color: #e675a0; }

.func_stack_b { color: #d0cca4; }

.func_stack_c { color: #e1df70; }
