// Variables
$bodyFontSize         : 16;
$textColor            : #333333;
$lightBackgroundColor : #f7f7f7;
$lightTextColor       : #777;
$highlightColor       : #ce4ec6;
$placeholderText      : #cccccc;


/*
    PAGE & STRUCTURAL STYLES

    General page and structural styles
*/
* {
    @include box-sizing(border-box);
}

body {
	padding: 0 20px;
	margin: 0;
	font: 16px/1.4em 'Droid Sans', Arial, sans-serif;
	color: #333;
    background: #eee url(../img/background@2x.png);
    background-size: 400px 300px;
    border-top: 3px solid $highlightColor;

    @media screen and (max-width:565px) {
        padding: 0;
    }
}

.wrapper {
    max-width: 850px;
    width: 850px\9; // target IE7 and 8 only
    margin: 0 auto;
}

#container {
    clear: both;
    background: #fdfdfd;
    overflow: hidden;
    margin-bottom: 10px;
    @include box-shadow(#dedede 0 3px 0);
    border: 1px solid #eeeeee;

    @media screen and (max-width:565px) {
        padding: 0;
    }
}

a,
a:link,
a:visited {
    color: $highlightColor;
    text-decoration: none;
}
a:hover {
    color: darken($highlightColor, 30%);
    text-decoration: underline;
}

/*
    INPUT ELEMENTS

    Page styles for input elements

*/

label {
    color: $lightTextColor;
    padding-top: 5px;
    display: block;
    text-transform: uppercase;
    letter-spacing: .15em;
}

input#color {
    border: 1px solid #e0e0e0;
    border-bottom-color: #e5e5e5;
    color: $textColor;
    box-shadow: inset 0 1px 2px #eee;
    border-radius: 3px;
        -webkit-border-radius:3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
    padding-left: 2em;
    font-size: 1em;
    height: 44px;
    width: 100%;
    font-family: 'Droid Sans Mono', Courier, monospace;
    // We need to float the input on top of BG or we can't
    // re-focus with ze mouse
    position: relative;
    z-index: 500;


    &::-webkit-input-placeholder {
       color: $placeholderText;
    }

    &:-moz-placeholder {
       color: $placeholderText;
    }

    &:focus {
        outline: none;
        border: 1px solid $highlightColor;
        box-shadow: 0 0 8px transparentize($highlightColor, .4);
    }
}
label[for="color"] {
    position: absolute;
    padding: 0 0 0 1.4em;
    color: $placeholderText;
    z-index: 501;
}

.fakeSlider {
    margin: 0 auto;
    width: 80%;
}

.ui-slider {
    position: relative;
}

.ui-widget-content {
    border-top: 2px solid #C5C5C5;
    border-bottom: 2px solid #C5C5C5;
    height: 0px;
}

.ui-slider-handle {
    background: transparent url(../img/range-handle@2x.png) no-repeat;
    background-size: 20px 20px;
    position: absolute;
    z-index: 10;
    bottom: -9px;
    margin-top: -3px;
    width: 20px;
    height: 20px;
    margin-left: -1%;
    cursor: pointer;
    outline: none;
}


input[type='range'] {  
    -webkit-appearance: none;  
    background-color: #ddd;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #eee;
    height: 8px;
    border-radius: 6px;
}  
  
input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;
    z-index: 100;  
    position: relative;  
    top: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    outline: none;
    background-repeat: no-repeat; 
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: transparent url(../img/range-handle@2x.png) no-repeat;
    background-size: 20px 20px;
}

/*
    PAGE HEADER

    SassMe page title styles
*/

#header {
    clear: both;
    padding: 20px 0;
    width: 100%;
    overflow: auto;

    h1 {
        float: left;
        width: 230px;
        height: 53px;
        overflow: visible;
        background: url(../img/sass-me-logo@2x.png) 0 0 no-repeat;
        background-size: 230px 53px;
        text-indent: -999px;
        margin: 0 20px 0 15px;
    }



    #tagline {
        float: left;
        margin-top: 53px;
        width: 50%;
        position: relative;

        @media screen and (max-width:565px) {
            width: 100px;
        }

        p {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: (16em / $bodyFontSize);
            line-height: 1.3em;
            color: $lightTextColor;
            @include text-shadow(0 1px 0 #fff);

            @media screen and (max-width:565px) {
                font-size: (12em / $bodyFontSize);
                line-height: 1.1em
            }
        }
    }
}

/*
    LIST ITEMS

    Styles for each <li> item
*/
.listItem {
    text-align: center;
    position: relative;
    opacity: 1;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;

    // Slider Controls
    // Would be cool to dynamically set a gradient on these
    // that way you could see what direction your colors are going...
    &.slider {
        margin: 25px 0;

        input {
            display: block;
            width: 80%;
            margin: 0 auto;
        }

        label {
            font-size: (10em / $bodyFontSize);
        }
        a {
            position: absolute;
            right: 3%;
            top: -7px;
            font-size: (10em / $bodyFontSize);
        }
    }
}
// This will be for when the color input is in focus
// we should add some classes like "filled" and "unfilled"
// for when the main color input is filled, then we can tone down
.focus {
    label,
    #help {
        color: $highlightColor;
    }
    #help {
        opacity: 1;
    }
}
.inactive {

    .listItem {
        opacity: .15;


        &#swatch1 {
            opacity: 1;
        }

    #colorOutput{
        opacity: 0;
    }

    }
}

/*
    SWATCHES

    Styles for the main content swatches
*/


// Rounding corners 

@media only screen and (min-width: 565px) {

    #swatch1 .swatch{
        @include border-top-left-radius(10px);
    }

    #swatch2 .swatch{
        @include border-top-right-radius(10px);
    }

    #container {
        @include border-radius(10px);
    }
}

// The pointer from Swatch 1 to Swatch 2

.swatchPointer {
    width: 0; 
    height: 0; 
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent; 
    border-left: 40px solid #fff; 
    position: absolute;
    z-index: 10;
    top: 0px;
    right: -40px;
}

.swatchContainer {
    color: #fff;
    float: left;
    position: relative;

    &#swatch1{
        width: 47%;
    }
    &#swatch2{
        width: 53%;
    }

    .swatch {
        height: 300px;
        line-height: 300px;
        width: 100%;
        font-size: (18em / $bodyFontSize);
        font-family: 'Droid Sans Mono', Courier, monospace;
    }

        #colorInput {
            position: relative;
            width: 130px;
            margin: 0 auto;
        }

        #colorOutput {
            opacity: 1;
            width: 130px;
            background: rgba(0,0,0,.4);
            padding: 10px 20px;
            border: 0px solid #000;
            color: #fff;
            // We need to make this selectable
            position: relative;
            z-index: 500;
            @include border-radius(3px);
            @include box-shadow(inset #000 0 0 4px);
        }

    // Swatch labels
    .swatchLabel {
        position: absolute;
        width: 100%;
        display: none;    
        padding: 20px 0;
        color: $lightTextColor;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: (10em / $bodyFontSize);
    }

}


/*
    INDIVIDUAL ELEMENTS

    Styles for individual elements on the page
*/

.codeHelp {
    background-color: white;
    border: 1px solid #EBEBEB;
    @include border-top-left-radius(10px);
    @include border-top-right-radius(10px);
    @include box-shadow(rgba(0,0,0,.1) 0 -4px 6px);
    color: #353535;
    display: none;
    left: 20%;
    padding: .5em;
    position: absolute;
    text-align: center;
    top: 260px;
    z-index: 400;
    width: 60%;
}

#codeOutput {
    clear: both;
    border-top: 1px solid darken(#eee,4);
    border-bottom: 1px solid darken(#eee,4);

    input {
        font-family: 'Droid Sans Mono', Courier, monospace;
        padding: 14px 0;
        margin: 0;
        font-size: (14em / $bodyFontSize);
        width: 100%;
        background: darken($lightBackgroundColor,5);
        cursor: pointer;
        outline: none;
        text-align: center;
        border: none;

        &::-webkit-input-placeholder {
           font-family: 'Droid Sans', Arial, sans-serif;
           color: $highlightColor;
        }

        &:-moz-placeholder {
           font-family: 'Droid Sans', Arial, sans-serif;
           color: $highlightColor;
        }

        &:hover {
            color: $highlightColor;
        }

        &:focus {
            background: $highlightColor;
            color: #fff;
        }    
    }
}

#initialHelp {
    opacity: 0;
    font-family: "Droid Sans", Helvetica, Arial;
    position: absolute;
    left: 80%; // Animates to 45%
    top: 40%;
    color: $lightTextColor;
    font-size: (14em / $bodyFontSize);
    line-height: 4em;
    width: 400px;
    color: $highlightColor;
    z-index: 400;
}

/*
    FOOTER

*/
#footer {
    font-size: (10em / $bodyFontSize);
    font-weight: bold;
    line-height: 1.3em;
    padding: 5px 5px;
    color: $lightTextColor;
    @include text-shadow(0 1px 0 #fff);
    clear: both;

    img {
        margin: 0 10px;
    }

    #arc90 {
        float: left;
        width: 50%;

        img {
            float: left;
            width: 75px;
            height: 29px;
        }
    }

    #kindling {
        text-align: right;
        float: right;
        width: 50%;

        img {
            float: right;
            width: 82px;
            height: 29px;
        }
    }

    @media screen and (max-width:565px) {
        div {
            width: 50%!important;
            border-bottom: 1px solid #ddd;
            padding: 0 20px 10px;
        }        
        img {
            float: none!important;
            margin: 0 0!important;
        }
    }
}