// Variables
$bodyFontSize: 16;
$textColor: #333333;
$lightBackgroundColor: #f7f7f7;
$lightTextColor: #777;
$blue: #0183b7;
$placeholderText: #cccccc;


/*
    PAGE & STRUCTURAL STYLES

    General page and structural styles
*/
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing:    border-box;
   box-sizing:         border-box;
}

body {
	padding: 0;
	margin: 0 20px;
	font: 16px/1.4em 'Droid Sans', Arial, sans-serif;;
	color: #333;

    @media screen and (max-width:520px) {
        margin: 0;
    }
}

.wrapper {
    max-width: 800px;
    width: 800px\9; // target IE7 and 8 only
    margin: 0 auto;
    padding: 20px;
}

#container {
    padding: 0 30px 30px;
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;

    @media screen and (max-width:520px) {
        padding: 0;
    }
}

a,
a:link,
a:visited {
    color: $blue;
    text-decoration: none;
}
a:hover {
    color: darken($blue, 30%);
    text-decoration: underline;
}

/*
    GENERAL INPUT ELEMENTS

    General page styles for input elements

*/
label {
    color: $lightTextColor;
    margin-top: 0px;
    display: block;
}

input[type="text"] {
    border: 1px solid #e0e0e0;
    border-bottom-color: #e5e5e5;
    color: $textColor;
    box-shadow: inset 0 1px 2px #eee;
    border-radius: 3px;
        -webkit-border-radius:3px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -ms-border-radius: 3px;
    padding-left: 2em;
    font-size: 1em;
    height: 44px;
    width: 100%;
    font-family: 'Droid Sans Mono', Courier, monospace;

    &::-webkit-input-placeholder {
       color: $placeholderText;
    }

    &:-moz-placeholder {
       color: $placeholderText;
    }

    &:focus {
        outline: none;

        border: 1px solid $blue;
        box-shadow: 0 0 5px lighten($blue, 40%);
    }
}
label[for="color"] {
    position: absolute;
    top: .75em;
    left: 0;
    padding-left: 1em;
    color: $placeholderText;
}

.fakeSlider {
    margin: 0 auto;
    width: 75%;
}

.ui-slider {
    position: relative;
}

.ui-widget-content {
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    height: 4px;
}

.ui-slider-handle {
    background: transparent url(../img/range-handle.png) no-repeat;
    position: absolute;
    z-index: 10;
    bottom: -9px;
    height: 22px;
    margin-left: -1%;
    cursor: default;
    width: 20px;
    outline: none;
}

.flyout {
    background-color: white;
    border: 1px solid #EBEBEB;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'myriad-pro', helvetica, arial, sans-serif;
    color: #353535;
    display: none;
    left: 20%;
    padding: .5em;
    position: absolute;
    text-align: center;
    top: 130px;
    z-index: 300;
    width: 60%;
}

.flyout p {
    color: #bbb;
    font-size: .8em;
}

.flyout input {
    color: #7e7e7e7;
    font-size: 0.75em;
    line-height: 1.2;
    margin-top: 0.5em;
    text-align: center;
    outline: none;
}

.flyout a.close,
.flyout a.close:hover {
    background-color: #BBB;
    background-image: none;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    height: 22px;
    line-height: 1.1;
    opacity: 1;
    overflow: hidden;
    padding-top: 5px;
    position: absolute;
    right: -6px;
    color: white;
    text-align: center;
    text-decoration: none;
    top: -6px;
    width: 22px;
}

input[type='range'] {  
    -webkit-appearance: none;  
    border-top: 1px solid #C5C5C5;
    border-bottom: 1px solid #C5C5C5;
    height: 4px;
}  
  
input[type='range']::-webkit-slider-thumb {  
    -webkit-appearance: none;  
    z-index: 100;  
    position: relative;  
    top: 0px;
    height: 22px;
    margin-left: -1%;
    cursor: default;
    width: 20px;
    outline: none;
    background-image: url('../img/range-handle.png');  
    background-repeat: no-repeat; 
}

/*
    PAGE HEADER

    SassMe page title styles
*/
#header {
    text-align: center;
    border-bottom: 3px double #E9E9E9;

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 1em;
    }
    p {
        font-size: (12em / $bodyFontSize);
        line-height: 1.4em;
        color: $lightTextColor;
        max-width: 500px;
        margin: .5em auto 0 auto;
    }
}

/*
    LIST ITEMS

    Styles for each <li> item
*/
.listItem {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    opacity: 1;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    -ms-transition: .5s all ease;
    -o-transition: .5s all ease;
    transition: .5s all ease;

    // Slider Controls
    // Would be cool to dynamically set a gradient on these
    // that way you could see what direction your colors are going...
    &.slider {
        margin: 20px 0;

        input {
            display: block;
            width: 75%;
            margin: 0 auto;
        }
        label {
            font-size: (12em / $bodyFontSize);
        }
    }

    &#colorInput {
        width: 300px;
        margin: 40px auto;
    }
}
// This will be for when the color input is in focus
// we should add some classes like "filled" and "unfilled"
// for when the main color input is filled, then we can tone down
.focus {
    label,
    #help {
        color: $blue;
    }
    #help {
        opacity: 1;
    }
}
.inactive {

    .listItem {
        opacity: .15;

        &#colorInput {
            opacity: 1;
        }
    }
}

/*
    SWATCHES

    Styles for the main content swatches
*/
.swatchContainer {
    width: 50%;
    background: #fff;
    color: #fff;
    float:left;

    .swatch {
        height: 200px;
        width: 100%;
        padding-top: 10px;
        font-size: (18em / $bodyFontSize);
    }

    // Swatch labels
    .swatchLabel {
        color: $lightTextColor;
        font-size: (12em / $bodyFontSize);
    }

    // Individual swatches
    &#swatch1 {
        .swatchLabel {
            text-align: right;
            margin-right: 1em;
        }
    }

    &#swatch2 {
        .swatchLabel {
            text-align: left;
            margin-left: 1em;
        }
    }
}


/*
    INDIVIDUAL ELEMENTS

    Styles for individual elements on the page
*/
#code {
    font-family: 'Droid Sans Mono', Courier, monospace;
    font-size: (14em / $bodyFontSize);
    clear: both;
    border: 1px solid #e9e9e9;
    padding: 5px 0;
    background: $lightBackgroundColor;
    cursor: pointer;
}
#help {
    opacity: 0;
    display: block;
    color: $lightTextColor;
    font-size: (14em / $bodyFontSize);
}

/*
    FOOTER

*/
#footer {
   font-size: (13em / $bodyFontSize);
   text-align: center;
   border-top: 3px double #E9E9E9;
   padding: 20px 0 60px;
   color: $lightTextColor;

   #kindling {
        margin: 30px 0 0 0;
   }
}