<!doctype html>
<html>
<head>
	<title>SassMe | A Tool for Visualizing SASS Color Functions</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="author" content="Arc90">
	<meta name="description" content="A nifty tool to visualize SASS Color functions and generate the code for use in your .sass/.scss files.">
	<!--[if lt IE 9]>
		<script src="js/lib/html5shiv.js"></script>
	<![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Droid+Sans+Mono' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/styles.css">
	<script src="js/lib/modernizr.custom.min.js"></script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-2118091-13']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</head>
<body>

	<header id="header" class="wrapper">
		<h1>Sass Me</h1>
		<div id="tagline">
			<p>Visualize <a href="http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html" target="_blank">SASS color functions</a> in <wbr/>real-time without compiling.</p>
		</div>
	</header>

    <section id="container" class="wrapper">   

        <form action="" method="get" accept-charset="utf-8" class="inactive">
            <ul id="content">

				<li id="swatch1" class="listItem swatchContainer">
					<p class="swatchLabel">Input color</p>
					<div class="swatch">
						<div id="colorInput">
							<label for="color">#</label>
							<input type="text" name="color" id="color" maxlength="6" placeholder="0183B7" />
							<div id="initialHelp">
								&larr; Go ahead, give us a hex code
							</div>
						</div>

						<div class="swatchPointer"></div>
					</div>
				</li>

                <li id="swatch2" class="listItem swatchContainer">
                	<p class="swatchLabel">Output color</p>
                	<div class="swatch"><span id="colorOutput"></span></div>
                </li>

                <li class="listItem">
                	<div id="codeOutput">
						<input type="text" id="code" tabindex="-1" readonly="readonly" placeholder="Fiddle with the sliders to get the SASS" />
	                </div>
                    <div class="codeHelp">
                    	<p>Copy and use the code below:</p>
                    </div>
                </li>

                <li class="listItem slider">
                    <a href="#" class="reset">Reset</a>
                    <input type="range" min="0" max="100" id="slider_l" />
                    <label for="slider_l">&larr; darken | lighten &rarr;</label>
                </li>
                <li class="listItem slider">
                	<a href="#" class="reset">Reset</a>
                    <input type="range" min="0" max="100" id="slider_s" />
                    <label for="slider_s">&larr; desaturate | saturate &rarr;</label>
                </li>
                <li class="listItem slider">
                	<a href="#" class="reset">Reset</a>
                    <input type="range" min="0" max="360" id="slider_h" />
                    <label for="slider_h">&larr; adjust hue &rarr;</label>
                </li>
            </ul>
        </form>
    </section>

    <footer id="footer" class="wrapper">
    	<div id="arc90">
	    	<a href="https://github.com/arc90/sass-color-picker"><img src="img/arc90-logo.png" alt="Arc90" /></a>
	    	<p><strong>A tool from the <a href="http://lab.arc90.com/">Arc90 Lab</a></strong></p>
	    	<p>Source is on <a href="https://github.com/arc90/sass-color-picker">Github</a></p>
	    </div>
    	<div id="kindling">
    		<a href="http://kindlingapp.com/"><img src="img/kindling.png" alt="Kindling - Social Innovation Software" /></a>
    		<p>SassMe is inspired by <br>social innovation software <a href="http://kindlingapp.com/">Kindling</a>.</p>
	    	
	    </div>
    </footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="js/lib/jquery-ui-min.js"></script>
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/Color.js"></script>
	<script src="js/Transforms.js"></script>
	<script>
		// ==================
		// Here be the magic!
		// ==================

		$(function(){
			// Do we have native HTML5 sliders?
			var hasRange = Modernizr.inputtypes.range;

			// use jQuery UI to handle it for us.
			if (!hasRange) {
				var $ranges = $('input[type="range"]');
				
				$ranges.each(function (i, r) {
					var $r   	 = $(r),
						rangeID  = $r.attr('id'),
						rangeMin = $r.attr('min'),
						rangeMax = $r.attr('max');

					r.style.display = 'none';
					$r.removeAttr('id');

					$('<div id="'+rangeID+'" class="fakeSlider">').slider({ max : rangeMax, min : rangeMin }).insertAfter(r);
				});
			} 

			// Cache jQuery selectors
			var $slider_l   = $('#slider_l'), // Slider: Lightness
				$slider_s   = $('#slider_s'), // Slider: Saturation
				$slider_h   = $('#slider_h'), // Slider: Hue
				$color      = $('#color'), // Color input
				$swatchA    = $('#swatch1 .swatch'),
				$swatchB    = $('#swatch2 .swatch'),
				$code       = $('#code'), // SASS code output
				$codeOutput = $('#codeOutput');

			// We use these to dynamically call methods on Color
			var channel_map = {
				h : 'hue',
				s : 'saturation',
				l : 'lightness'
			}

			// Maintain state on our swatches
			var swatchA = swatchB = {};

			// Template for SASS functions. We can nest these to make
			// compound functions
			var tpl = _.template("<%= func %>(<%= value %>, <%= transform %>)");

			// Hoist variables matey!
			var direction, start_color, prev, current, base, stack, sliders, transforms;

			// Define some storage vars
			stack = [];
			sliders = {
				slider_h : {},
				slider_s : {},
				slider_l : {}
			};

			// These are the transform methods used by the sliders. We have
			// them in an object so we can call them easily from a loop
			// using the id's of the inputs themselves as hooks.
			transforms = {

				// Lighten/Darken
				slider_l : function(val, base_color) {
					var t;
					if (val < 0) {
						// Darken
						t = Transforms.darken(base_color, Math.abs(val));
						return {
							color : new Color(t),
							func  : 'darken',
							value : Math.abs(val)
						}
					} else if (val > 0) {
						// Lighten
						t = Transforms.lighten(base_color, Math.abs(val));
						return {
							color : new Color(t),
							func  : 'lighten',
							value : Math.abs(val)
						}
					} else if (val === 0) {
						stack_remove('slider_l');
						return {
							color : base_color,
							func  : null,
							value : null
						}
					}
				},

				// Saturate/Desaturate
				slider_s : function(val, base_color) {
					var t;
					if (val < 0) {
						// Darken
						t = Transforms.desaturate(base_color, Math.abs(val));
						return {
							color : new Color(t),
							func  : 'desaturate',
							value : Math.abs(val)
						}
					} else if (val > 0) {
						// Lighten
						t = Transforms.saturate(base_color, Math.abs(val));
						return {
							color : new Color(t),
							func  : 'saturate',
							value : Math.abs(val)
						}
					} else if (val === 0) {
						stack_remove('slider_s');
						return {
							color : base_color,
							func  : null,
							value : null
						}
					}
				},

				// Adjust Hue
				slider_h : function(val, base_color) {
					var t;
					t = Transforms.adjust_hue(base_color, Math.abs(val));
					return {
						color : new Color(t),
						func  : 'adjust_hue',
						value : Math.abs(val)
					}
				}
			}

			// =================
			// Page interactions
			// =================

			// On page load, focus the color input and display the initial helper text
			$color.focus();
			$('#initialHelp').delay(300).animate({opacity:'1',left:'45%'});

			// Give the input color's <li> a class of focus when #color is in focus
			$color.focus(function(){
				$(this).parent().addClass('focus');
			}).blur(function(){
				$(this).parent().removeClass('focus');
			});

			// Hex validation rule
			var valid_hex = /[0-9A-Fa-f]/g;

			// give the form a class of 'active' when the color is validated
			$color.keyup(function(){

				// Only allow valid Hexadecimal values
				colorValue = $(this).val().match(valid_hex);
				colorValue = (colorValue) ? colorValue.join('') : null;
				$(this).val(colorValue);

				// when it hits 6 characters, fill everything in in the form
				if ( colorValue && colorValue.length > 5 ) {
					init(colorValue); // Initialize the application
					$('form').removeClass('inactive');
					$('form').addClass('active');
					$('#initialHelp').fadeOut();
				} else {
					$('form').addClass('inactive');
					$('form').removeClass('active');
				}
			});


			// Clicking the code will select the text in the input and give you a helpful message
			$codeOutput.data('state', 'default');
			$codeOutput.on('remove', function(){
				if ($codeOutput.data('state') === 'default') {
					// Assign a handler to bring up help message
					$code.click(function(){
						if ( $(this).not(":empty") ) {
							$code.select();
							$('.codeHelp').fadeIn();
						}
					});
					$codeOutput.data('state', 'active');
				}
			})

			$('.reset').click(function(e){
				e.preventDefault();
				var slider = $(this).parent().find('label').attr('for');
				if (slider) {
					var channel   = slider.split('_')[1];
					var reset_val = (channel === 'h') ? 0 : start_color[channel_map[channel]]();

					if (!hasRange) {
						// jQuery UI slider
						$('#' + slider).slider('value', reset_val);
						deriveTransformation($('#' + slider), reset_val, slider);
					} else {
						// Reset native HTML5 slider
						$('#' + slider).val(reset_val);
						deriveTransformation($('#' + slider), reset_val, slider);
					}
				}

			})

			// ==================
			// Event Handling
			// ==================

			$swatchA.on('transform', function(event, color){
				$(event.target).css('background-color', color.hex);
				$(event.target).find('.swatchPointer').css('border-left-color', color.hex);
			});

			$swatchB.on('transform', function(event, color){
				$(event.target).css('background-color', color.hex);
				$(event.target).find("span").html(color.hex);
			});

			// ==================
			// Color Calculations
			// ==================

			// Initialize the swatches
			function init(color) {
				start_color = new Color(color);
				$swatchA.trigger('transform', [start_color]);
				$swatchB.trigger('transform', [start_color]);

				// Initialize sliders
				if (!hasRange) {
					// No Sliders? No problem! jQuery UI for you.
					$slider_l.slider( "option", "value", start_color.hsl.l);
					$slider_s.slider( "option", "value", start_color.hsl.s);
					$slider_h.slider( "option", "value", start_color.hsl.h);
				} else {
					$slider_l.val(start_color.hsl.l);
					$slider_s.val(start_color.hsl.s);
					$slider_h.val(start_color.hsl.h);
				}

				// Initialize storage units
				sliders.slider_l.start_val = start_color.hsl.l;
				sliders.slider_s.start_val = start_color.hsl.s;
				sliders.slider_h.start_val = start_color.hsl.h;
			}

			// Push a slider reference onto the stack - unless it
			// already exists
			function stack_add(id) {
				if (!_.find(stack, function(item){ return item === id })) {
					stack.push(id);
				}
			}

			// Remove an existing slider reference from the stack
			function stack_remove(id) {
				var index 	= _.indexOf(stack, id);
					removed = stack.splice(index, 1);
			}

			// Branch how we handle the sliders depending on whether
			// native HTML5 controls are present or we're using
			// jQuery sliders.
			if (!hasRange) {
				$('.ui-slider').on('slide', function(e) {
					var $el = $(e.target),
						val = $(this).slider('option', 'value'),
						id  = $el.attr('id');
					deriveTransformation($el, val, id);
					$codeOutput.trigger('remove');
				});
			} else {
				$('form').on('change', 'input[type=range]', function(e) {
					var $el = $(e.target), 
						val = $el.val(),
						id  = $el.attr('id');
					deriveTransformation($el, val, id);
					$codeOutput.trigger('remove');
				});
			}

			// Take the slider inputs and derive the SASS functions
			// from the HSL colors they create using the start color
			// as the transform point.
			function deriveTransformation($el, val, id) {

				stack_add(id);

				if (id !== 'slider_h') {
					increment = val - sliders[id].start_val;
				} else {
					increment = val;
				}

				sliders[id].increment = increment; // Store this for use below

				// Walk the stack and determine what our base colors should be.
				// Then build the function stack
				var output_color = start_color,
					output_value,
					transform;

				// Use reduce to iterate over the stack and derive our
				// final output color. We like it functional yo!
				output_value = _.reduce(stack, function(memo, func) {
					// if (func !== undefined) {
						transform    = transforms[func](sliders[func].increment, output_color);
						output_color = transform.color;
						if (memo === undefined) {
							if (transform.func === null) {
								return start_color.hex;
							} else {
								return tpl({
									'func'      : transform.func,
									'value'     : start_color.hex,
									'transform' : transform.value
								});
							}
						} else {
							if (transform.func === null) {
								return memo;
							} else {
								return tpl({
									'func'      : transform.func,
									'value'     : memo,
									'transform' : transform.value
								});
							}
						}
					// }
				}, start_color.hex)
				$code.val(output_value);
				$swatchB.trigger('transform', [output_color]);
			}
		});
	</script>
	<!-- 
		 _______  _______  _______  _______  __   __  _______ 
		|       ||   _   ||       ||       ||  |_|  ||       |
		|  _____||  |_|  ||  _____||  _____||       ||    ___|
		| |_____ |       || |_____ | |_____ |       ||   |___ 
		|_____  ||       ||_____  ||_____  ||       ||    ___|
		 _____| ||   _   | _____| | _____| || ||_|| ||   |___ 
		|_______||__| |__||_______||_______||_|   |_||_______|

		an Arc90 Lab Project, (c) 2012 Arc90, all rights reserved

		GitHub: https://github.com/arc90/sass-color-picker

		Authors:

		* Jim Nielsen
		* Darren Newton
		* Robert Petro
		* Matt Quintanilla
		* Jesse Reiner

	 -->
</body>
</html>